<!doctype html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/base.css">
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only" id="topIf" if="true" condition="current_user()" model="current_user">
                <true>
                    <a class="mdl-navigation__link" href="" model="current_user" ev="User.username"></a>
                    <a class="mdl-navigation__link" href="" onclick="User.logout();engine.emit('data-update', 'current_user')">Logout</a>
                </true>
                <false>
                    <form class="login" action="#" method="post">
                        <input type="text"     placeholder="username" name="username">
                        <input type="password" placeholder="password" name="password">
                        <input type="submit" value="Log In">
                    </form>
                </false>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation" id="sideIf" if="true" condition="current_user()" model="current_user">
            <true>
                <a class="mdl-navigation__link" href="" model="current_user" ev="User.username"></a>
                <a class="mdl-navigation__link" href=":javascript;" onclick="User.logout();engine.emit('data-update', 'current_user')">Logout</a>
            </true>
            <false>
                <form class="login" action="#" method="post">
                    <input type="text"     placeholder="username" name="username">
                    <input type="password" placeholder="password" name="password">
                    <input type="submit"   value="Log In">
                </form>
            </false>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id="flash" style="background-color: #eee; display: none; padding: 1em;">
                <span id="flashtext"></span>
            </div>

            <table loop="true" model="user" id="users">
                <tr><td item="username"></td></tr>
            </table>

        </div>
    </main>
</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/assets/engine.js"></script>
<script src="/assets/main.js"></script>
<!--<script src="/assets/index.js"></script>-->
<script>
    function initialize() {
        flashMessages();
        $('.login').submit(function(e){
            e.preventDefault();
            Engine.authenticate( $(this).serialize() );
            return false
        });
        engine.on('user-cache-invalidated', function(){
            Engine.fill('/users', 'user', '#users');
        });
        engine.on('authenticationComplete', function(data){
            console.log( 'authenticationComplete', data );
            engine.emit('data-update', 'current_user')
        });
    }

    engine.on('data-update', function(){ initialize() });

    $( document).ready(function(){
        var preLoad = [
            function(){ Engine.fill('/users', 'user', '#users') }
        ];
        Engine.loadList( preLoad, function(){
            Engine.draw();
            initialize()
        })
    });


</script>
</body>
</html>