<!doctype html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/base.css">
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/">Yak</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only" id="topIf" if="true" condition="current_user()" model="current_user">
                <true>
                    <a class="mdl-navigation__link" href="/profiles/" model="current_user" ev-item-link="User.uid()" ev="User.username"></a>
                    <a class="mdl-navigation__link" href="" onclick="User.logout();engine.emit('data-update', 'current_user')">Logout</a>
                </true>
                <false>
                    <form class="login" action="#" method="post">
                        <input type="text"     placeholder="username" name="username">
                        <input type="password" placeholder="password" name="password">
                        <input type="submit" value="Log In">
                    </form>
                </false>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a href="/">Yakå</a></span>
        <nav class="mdl-navigation" id="sideIf" if="true" condition="current_user()" model="current_user">
            <true>
                <a class="mdl-navigation__link" href="/profiles/" model="current_user" ev-item-link="User.uid()" ev="User.username"></a>
                <a class="mdl-navigation__link" href=":javascript;" onclick="User.logout();engine.emit('data-update', 'current_user')">Logout</a>
                <div style="padding: 20px;">
                    <h4>New Chat Room</h4>
                    <form id="newChat" action="/chats" method="post">
                        <input type="text"     placeholder="name"       name="name" class="mdl-textfield__input">
                        <textarea type="text"  placeholder="description" name="description" class="mdl-textfield__input"></textarea>
                        <input type="submit" value="Create Room" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    </form>
                </div>
            </true>
            <false>
                <form class="login" action="#" method="post">
                    <input type="text"     placeholder="username" name="username">
                    <input type="password" placeholder="password" name="password">
                    <input type="submit"   value="Log In">
                </form>
                <h4>New Chat Room</h4>
                <form id="newUser" action="/users" method="post">
                    <input type="text"     placeholder="name"       name="name" class="mdl-textfield__input">
                    <textarea type="text"  placeholder="description" name="description" class="mdl-textfield__input"></textarea>
                    <input type="submit"   value="Create Room" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                </form>
            </false>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id="flash" style="background-color: #eee; display: none; padding: 1em;">
                <span id="flashtext"></span>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <h1 e="name"></h1>
                    <h5>Username: <span e="username"></span></h5>
                </div>
                <div class="mdl-cell mdl-cell--8-col">

                </div>
            </div>



        </div>
    </main>
</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/assets/engine.js"></script>
<script src="/assets/main.js"></script>
<!--<script src="/assets/index.js"></script>-->
<script>
    function initialize() {
        flashMessages();
        $('.login').submit(function(e){
            e.preventDefault();
            Engine.authenticate( $(this).serialize() );
            return false
        });
        $('#newChat').submit(function(e){
            e.preventDefault();
            Engine.post($(this).attr('action'), $(this).serialize(), function(res){
                console.log( 'form is submitted' );
                window.location.replace( '/' + res.data._id )
            });
            return false
        });
        $('#newUser').submit(function(e){
            e.preventDefault();
            Engine.post($(this).attr('action'), $(this).serialize(), function(res){
                console.log( 'form is submitted' );
                window.location.replace( '/profile/' + res.data._id )
            });
            return false
        });
        engine.on('authenticationComplete', function(data){
            console.log( 'authenticationComplete', data );
            engine.emit('data-update', 'current_user')
        });
    }

    engine.on('data-update', function(){ initialize() });

    $( document).ready(function(){
        initialize();
        Engine.draw();
        var preLoad = [
            function(){
                Engine.get('/users/' + Engine.params('profiles'), 'user', function( data ){
                    Engine.E.username = data.username
                    Engine.E.name     = data.name
                })
            }
        ];
        Engine.loadList( preLoad, function(){
            Engine.draw();
            initialize()
        })
    });


</script>
</body>
</html>